* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body{
	font-size:16px;
	color: #dfdfdf;
	background-color: #063647; 
}

a {
  color: #00d1b2;
}

a:hover {
  color: #00d1b2;
}

section{
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-1 {
	background: #063647;
}

.section-2 {
	background-color: #052D3D;
}

.section-3 {
	background-color: #0E282E;
	padding-bottom: 0px;
}

.section-4 {
	background-color: #063647;
	padding: 0.2rem;
}

.home-key {
	font-family: 'Tangerine', serif;
	font-size: 21px;
	width: 80%;
	padding-right: 1.5rem;
	padding-top: 0.9rem;
	padding-left: 0.4rem;
	
}


.gallery {
    width: 35%;
    border-radius: 50%;
}

.nav2 {
	transition: all 0.5s ease-out;
}

a.nav-item {
	color: #dfdfdf;
}

a.nav-item:hover {
	color: #fff;
}

.avatar{
	height:250px;
	border-radius: 50%;
}

.intro-description{
	padding-top: 1rem;
}

.social-container img{
	max-width:100%;
	max-height:175px;
	margin-bottom:15px;
}

.project-figure {
	margin: 0 auto 1rem auto;
	max-height: 256px;
	max-width: 256px;
}

.project-text {
	text-align: justify;
}

.project1-header {
	font-weight: 600;
	line-height: 1.125;
	color: #63574b;
}
 
.box {
	background-color: transparent;
	border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
	color: #fff;
	text-align: left;
	margin-bottom: 2rem;
}

#title-font {
	font-size: 2.2rem;
}

.intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.header-name {
	font-family: 'Tangerine', serif;
	font-size: 40px;
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 11px 0px;
	padding-left: 90px;
	padding-right: 60px;
}

.div-wraper {
    margin-bottom: 0px;
}

.wrapper-items {
	width: 64%;
	border-radius: 130px;
}

.social-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 11px 0px;
	padding-left: 5px;
	padding-right: 50px;
	padding-bottom: 0px; 
	margin-left: 5%;
}

.social-wrapper-items {
	width: 55%;
	border-radius: 100px;
}

.void-background {
	background-color: transparent; 
}

@media screen and (max-width: 768px) {
	.nav-menu {
		background-color: #063647;
	}

	.nav-toggle:hover {
		background-color: transparent;
	}

	.nav-toggle span {
		background-color: #dfdfdf;
	}

	.nav-toggle span:hover {
		background-color: #fff;
	}

	.social-wrapper {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
	
	}

	.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 11px 0px;
	padding-left: 90px;
	padding-right: 60px;
}

}
